*{
    padding: 0;
    margin: o;
    box-sizing: border-box;
}
/* }
.canva{
    background: black;
    background-size: cover;
    height: 100vh;
    width: 100%;
} */
.offcanvas{
    background: rgb(23, 23, 80);
}
.navbar-side{
    font-size: 25px;
    color: white; 
}
.navbar-side:hover{
    color: rgb(30, 210, 216);
}

/* .navbar-toggler-icon{
    font-size: 25px;
    color: white; */

.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.navbar-brand{
    color: black;
    font-size: bold;
    font-size: 23px;
}
.navbar-brand:hover{
    color: blue;
}
.navbar-nav a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.5s;
}
.navbar-nav a:hover{
    color: navy;
}
/* .banner{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.carousel-caption{
    padding bottom: 250px;
    font-family: poppins; */
.carousel-item{
min-height: 100vh;
background-position: center;
background-size: cover;
position: relative;
z-index: 1;
}
.carousel-item::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0,0,0,0.5); */
    z-index: -1;

}
.carousel-item .container{
   
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.carousel-item h1{
    font-size: 40px;
    color: white;
    margin: 0 0 10px;
}
.carousel-item p{
    font-size: 15px;
    margin: 0;
    color: #eeeeee;
}
/* .btn2 {
   
    height: 45px;
    width: 150px;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: all 0.5s;
    background-color: rgb(14, 114, 186);
    /* margin-left: 50%; */
    /* text-align: center;
}
.btn2:hover{
    background-color: green; */ 
/* second option */
h1{
    font-size: 36px;
    color: black;
    font-weight: bold;
    }
    h3{
        font-size: 24px;
        color: #000;
        font-weight: bold;
        }
    .mt-3{
        color: black;
    } 

/* second card */
.overall{
    margin-top: 50px;

    margin-left: 15%;
}
.card-again{
    margin-top: 50px;

    margin-left: 15%;
}
.card-body3{
    background-color: aqua;
}
/* .card-body3 .butt{
    margin-left: 600px;
    display: flex;
} */















